
<!-- START X-NAVIGATION VERTICAL -->
<ul class="x-navigation x-navigation-horizontal">
    <li class="xn-logo">
        <a href="index.html">ATLANT</a>
        <a href="#" class="x-navigation-control"></a>
    </li>
    <li class="xn-navigation-control">
        <a href="#" class="x-navigation-control"></a>
    </li>
    <li>
        <a href="/"><span class="fa fa-files-o"></span> <span class="xn-text">Главная</span></a>
    </li>
    <li>
        <a href="faq.html"><span class="fa fa-file-text-o"></span> <span class="xn-text">ФАК</span></a>
    </li>
    <li>
        <a href="consultants.html"><span class="fa fa-file-text-o"></span> <span class="xn-text">Консультанты</span></a>
    </li>
    <li>
        <a href="video.html"><span class="fa fa-file-text-o"></span> <span class="xn-text">Видео каталог</span></a>
    </li>

    <li>
        <a href="video.html"><span class="fa fa-file-text-o"></span> <span class="xn-text">Каталог ответов</span></a>
    </li>
    <li class="pull-right">
        <a href="register.html"><span class="fa fa-pencil"></span> <span class="xn-text">Регистрация</span></a>
    </li>
    <li class="pull-right">
        <a href="login.html"><span class="fa fa-cogs"></span> <span class="xn-text">Авторизация</span></a>
    </li>

    <li class="xn-icon-button pull-right">
        <a href="#"><span class="flag flag-gb"></span></a>
        <ul class="xn-drop-left xn-drop-white animated zoomIn">
            <li><a href="#"><span class="flag flag-gb"></span> English</a></li>
            <li><a href="#"><span class="flag flag-de"></span> Deutsch</a></li>
            <li><a href="#"><span class="flag flag-cn"></span> Chinese</a></li>
        </ul>
    </li>


</ul>
<!-- END X-NAVIGATION VERTICAL -->

<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Layouts</a></li>
    <li class="active">Custom Top Navigation</li>
</ul>
<!-- END BREADCRUMB -->