<!DOCTYPE html>
<html lang="en">
<head>
    <!-- META SECTION -->
    <title>Atlant - Responsive Bootstrap Admin Template</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <!-- END META SECTION -->

    <!-- CSS INCLUDE -->
    <link rel="stylesheet" type="text/css" id="theme" href="css/theme-default.css"/>
    <!-- EOF CSS INCLUDE -->
    <style>

        .masonry-brick {
            margin: 0.5em;
        }

        .masonry-brick.loaded {
            display: block;
        }
    </style>
</head>
<body ng-app="app">
<!-- START PAGE CONTAINER -->
<div class="page-container page-navigation-top page-navigation-top-custom" ng-controller="IndexCtrl">
    <!-- PAGE CONTENT -->
    <div class="page-content">

        <ng-include src="'header.html'"> </ng-include>

        <div class="page-title">
            <h2><span class="fa fa-arrow-circle-o-left"></span> Custom Top Navigation</h2>
        </div>

        <!-- PAGE CONTENT WRAPPER -->
        <div class="page-content-wrap" >

            <div class="row" >
                <div class="col-md-12">
                    <div class="btn-group">
                        <button class="btn btn-primary" ng-click="add()">Add</button>
                        <button class="btn btn-danger" ng-click="remove()">Remove</button>
                    </div>
                    <div masonry>
                        <div class="masonry-brick"  style="width:240px;" ng-repeat="question in questions">
                            <div class="panel panel-default" >
                                <div class="panel-heading">
                                    <h3 class="panel-title">Panel with static controls</h3>
                                    <ul class="panel-controls">
                                        <li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="fa fa-cog"></span></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span> Collapse</a></li>
                                                <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span> Refresh</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                                    </ul>
                                </div>
                                <div class="panel-body">
                                    {{ question.message }}
                                </div>
                                <div class="panel-footer">
                                    <button class="btn btn-primary pull-right">Button</button>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>


        </div>
        <!-- PAGE CONTENT WRAPPER -->

        <!-- START PAGE CONTENT HEADER -->
        <div class="page-content-header">
            <a href="index.html" class="logo"></a>
            <div class="pull-right">
                <div class="socials">
                    <a href="#"><span class="fa fa-facebook-square"></span></a>
                    <a href="#"><span class="fa fa-twitter-square"></span></a>
                    <a href="#"><span class="fa fa-pinterest-square"></span></a>
                    <a href="#"><span class="fa fa-linkedin-square"></span></a>
                    <a href="#"><span class="fa fa-dribbble"></span></a>
                </div>
                <div class="contacts">
                    <a href="#"><span class="fa fa-envelope"></span> johndoe@domain.com</a>
                    <a href="#"><span class="fa fa-phone"></span> +9(876) 543-21-09</a>
                    <a href="#"><span class="fa fa-skype"></span> JohnDoe</a>
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT HEADER -->
    </div>
    <!-- END PAGE CONTENT -->

</div>
<!-- END PAGE CONTAINER -->



<!-- MESSAGE BOX-->
<div class="message-box animated fadeIn" data-sound="alert" id="mb-signout">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-sign-out"></span> Log <strong>Out</strong> ?</div>
            <div class="mb-content">
                <p>Are you sure you want to log out?</p>
                <p>Press No if youwant to continue work. Press Yes to logout current user.</p>
            </div>
            <div class="mb-footer">
                <div class="pull-right">
                    <a href="pages-login.html" class="btn btn-success btn-lg">Yes</a>
                    <button class="btn btn-default btn-lg mb-control-close">No</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MESSAGE BOX-->

<!-- START PRELOADS -->
<audio id="audio-alert" src="audio/alert.mp3" preload="auto"></audio>
<audio id="audio-fail" src="audio/fail.mp3" preload="auto"></audio>
<!-- END PRELOADS -->

<!-- START SCRIPTS -->
<!-- START PLUGINS -->



<script type="text/javascript" src="js/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="js/plugins/jquery/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/plugins/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="js/plugins/rickshaw/rickshaw.min.js"></script>

<script type="text/javascript" src="js/angular.min.js"></script>

<script type="text/javascript" src="js/controllers/index.js"></script>
<!-- END PLUGINS -->

<!-- THIS PAGE PLUGINS -->
<script type='text/javascript' src='js/plugins/icheck/icheck.min.js'></script>
<script type="text/javascript" src="js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>

<!-- END PAGE PLUGINS -->

<!-- START TEMPLATE -->
<script type="text/javascript" src="js/settings.js"></script>

<script type="text/javascript" src="js/plugins.js"></script>
<script type="text/javascript" src="js/actions.js"></script>




<script src="bower_components/jquery-bridget/jquery-bridget.js"></script>
<script src="bower_components/get-size/get-size.js"></script>
<script src="bower_components/ev-emitter/ev-emitter.js"></script>
<script src="bower_components/desandro-matches-selector/matches-selector.js"></script>
<script src="bower_components/fizzy-ui-utils/utils.js"></script>
<script src="bower_components/outlayer/item.js"></script>
<script src="bower_components/outlayer/outlayer.js"></script>
<script src="bower_components/masonry/masonry.js"></script>
<script src="bower_components/imagesloaded/imagesloaded.js"></script>

<script src="bower_components/angular-masonry/angular-masonry.js"></script>
<!-- END TEMPLATE -->
<!-- END SCRIPTS -->
</body>
</html>






