<!DOCTYPE html>
<html lang="en">
<head>
    <!-- META SECTION -->
    <title>Atlant - Responsive Bootstrap Admin Template</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <!-- END META SECTION -->

    <!-- CSS INCLUDE -->
    <link rel="stylesheet" type="text/css" id="theme" href="css/theme-default.css"/>
    <!-- EOF CSS INCLUDE -->
    <style>

        .masonry-brick {
            margin: 0.5em;
        }

        .masonry-brick.loaded {
            display: block;
        }
    </style>
</head>
<body ng-app="app">
<!-- START PAGE CONTAINER -->
<div class="page-container page-navigation-top page-navigation-top-custom">
    <!-- PAGE CONTENT -->
    <div class="page-content">

        <ng-include src="'header.html'"> </ng-include>

        <div class="page-title">
            <h2><span class="fa fa-arrow-circle-o-left"></span> Custom Top Navigation</h2>
        </div>

        <!-- PAGE CONTENT WRAPPER -->
        <div class="page-content-wrap" ng-controller="ConsultantsCtrl">
            <div class="row">
                <div class="col-md-12">

                    <div class="panel panel-default">
                        <div class="panel-body">
                            <p>Use search to find contacts. You can search by: name, address, phone. Or use the advanced search.</p>
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <span class="fa fa-search"></span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Who are you looking for?">
                                            <div class="input-group-btn">
                                                <button class="btn btn-primary">Search</button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row" >
                <div class="col-md-12">
                    <div class="btn-group">
                        <button class="btn btn-primary" ng-click="add()">Add</button>
                        <button class="btn btn-danger" ng-click="remove()">Remove</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul class="pagination pagination-sm pull-right push-down-10 push-up-10">
                        <li class="disabled"><a href="#">«</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">»</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">

                    <div masonry>
                        <div class="masonry-brick" prepend="prepended" style="width:300px;" ng-repeat="question in questions">

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <img src="assets/images/users/user2.jpg" alt="John Doe" class="panel-title-image">
                                    <h3 class="panel-title">John Doe <small>johndoe@domain.com</small></h3>
                                </div>
                                <div class="panel-body" ng-height="{{ question.pictures[0].height }}px">
                                    <div class="image" ng-height="{{ question.pictures[0].height }}px">
                                        <img ng-src="{{ question.pictures[0].src }}"  class="img-thumbnail" align="left">
                                    </div>

                                    <div class="meta">
                                        <h4>Lorem ipsum dolor</h4>
                                        <p>Aenean ultricies condimentum pellentesque. Maecenas pulvinar arcu vel tortor aliquet commodo. </p>
                                    </div>

                                    <ul class="list-tags push-up-10">
                                        <li><a href="#"><strong>#</strong>tempor</a></li>
                                        <li><a href="#"><strong>#</strong>eros</a></li>
                                        <li><a href="#"><strong>#</strong>suspendisse</a></li>
                                        <li><a href="#"><strong>#</strong>dolor</a></li>
                                    </ul>
                                </div>
                                <div class="panel-footer">
                                    <a href="#">Details</a>
                                    <div class="pull-right">
                                        <a href="#"><span class="fa fa-comments"></span> 35</a>
                                        <a href="#"><span class="fa fa-eye"></span> 1,432</a>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <ul class="pagination pagination-sm pull-right push-down-10 push-up-10">
                        <li class="disabled"><a href="#">«</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">»</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- PAGE CONTENT WRAPPER -->

        <!-- START PAGE CONTENT HEADER -->
        <div class="page-content-header">
            <a href="index.html" class="logo"></a>
            <div class="pull-right">
                <div class="socials">
                    <a href="#"><span class="fa fa-facebook-square"></span></a>
                    <a href="#"><span class="fa fa-twitter-square"></span></a>
                    <a href="#"><span class="fa fa-pinterest-square"></span></a>
                    <a href="#"><span class="fa fa-linkedin-square"></span></a>
                    <a href="#"><span class="fa fa-dribbble"></span></a>
                </div>
                <div class="contacts">
                    <a href="#"><span class="fa fa-envelope"></span> johndoe@domain.com</a>
                    <a href="#"><span class="fa fa-phone"></span> +9(876) 543-21-09</a>
                    <a href="#"><span class="fa fa-skype"></span> JohnDoe</a>
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT HEADER -->
    </div>
    <!-- END PAGE CONTENT -->

</div>
<!-- END PAGE CONTAINER -->



<!-- MESSAGE BOX-->
<div class="message-box animated fadeIn" data-sound="alert" id="mb-signout">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-sign-out"></span> Log <strong>Out</strong> ?</div>
            <div class="mb-content">
                <p>Are you sure you want to log out?</p>
                <p>Press No if youwant to continue work. Press Yes to logout current user.</p>
            </div>
            <div class="mb-footer">
                <div class="pull-right">
                    <a href="pages-login.html" class="btn btn-success btn-lg">Yes</a>
                    <button class="btn btn-default btn-lg mb-control-close">No</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MESSAGE BOX-->

<!-- START PRELOADS -->
<audio id="audio-alert" src="audio/alert.mp3" preload="auto"></audio>
<audio id="audio-fail" src="audio/fail.mp3" preload="auto"></audio>
<!-- END PRELOADS -->

<!-- START SCRIPTS -->
<!-- START PLUGINS -->

<script type="text/javascript" src="js/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="js/plugins/jquery/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/plugins/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="js/plugins/rickshaw/rickshaw.min.js"></script>

<script type="text/javascript" src="js/angular.min.js"></script>

<script type="text/javascript" src="js/controllers/consultants.js"></script>
<!-- END PLUGINS -->

<!-- THIS PAGE PLUGINS -->
<script type='text/javascript' src='js/plugins/icheck/icheck.min.js'></script>
<script type="text/javascript" src="js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>

<!-- END PAGE PLUGINS -->

<!-- START TEMPLATE -->
<script type="text/javascript" src="js/settings.js"></script>

<script type="text/javascript" src="js/plugins.js"></script>
<script type="text/javascript" src="js/actions.js"></script>




<script src="bower_components/jquery-bridget/jquery-bridget.js"></script>
<script src="bower_components/get-size/get-size.js"></script>
<script src="bower_components/ev-emitter/ev-emitter.js"></script>
<script src="bower_components/desandro-matches-selector/matches-selector.js"></script>
<script src="bower_components/fizzy-ui-utils/utils.js"></script>
<script src="bower_components/outlayer/item.js"></script>
<script src="bower_components/outlayer/outlayer.js"></script>
<script src="bower_components/masonry/masonry.js"></script>
<script src="bower_components/imagesloaded/imagesloaded.js"></script>

<script src="bower_components/angular-masonry/angular-masonry.js"></script>
<!-- END TEMPLATE -->
<!-- END SCRIPTS -->
</body>
</html>